@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p::selection {
    /*subraya con color cuando seleccionamos un texto de un párrafo*/
    background-color: #46454570;
}

/*! ------------------------------------- header -----------------------------------------------------------------------------------------------------------*/

.nav-link {
    font-family: "Zain", sans-serif;
    color: black;
    font-size: 30px;
    height: 9vh;
}

.me-2 {
    font-family: "Zain", sans-serif;
    color: black;
    font-size: 23px;
    height: 8vh;
}

.btn-warning {
    font-family: "Zain", sans-serif;
    color: black;
    font-size: 23px;
    height: 8vh;
}

header img {
    width: 100px;
    height: 100px;
}


/*? ------------main -------------------------------------------------------------------------------------------------------*/

main h2 {
    font-size: 25px;
}

a {
    text-decoration: none;
}

.hero {
    height: 100vh;
    text-align: center;
    background-image: url('../img/banner-peregrinos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-family: "Zain", sans-serif;
    font-size: 50px;
    font-style: normal;
    color: black;
}

.botones {
    /*definición de propiedades de los botones*/
    color: white;
    text-align: center;
    background-color: #1b1b1b;
    text-decoration: none;
    /*saca el subrayado del enlace*/
    margin: 25px;
    padding: 5px;
    /*despega de los bordes */
    border-radius: 15px;
    /*redondea los bordes del botón*/
}

.autogestion div {
    text-align: center;
    text-decoration: none;
    display: flex;
}

.autogestion h2 {
    width: 100%;
    font-family: "Zain", sans-serif;
    color: white;
    background-color: #464545;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

.autogestion .autogestion-acceso {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autogestion .autogestion-acceso h2 {
    font-family: "Zain", sans-serif;
    text-align: center;
    font-size: 30px;
    background-color: #1b1b1b;
    color: white;
    padding: 20 px;
}

.autogestion .autogestion-acceso div {
    width: 33%;
    height: 250px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autogestion .autogestion-acceso div img {
    width: 200px;
    height: 200px;
}

.vacantes {
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    align-items: normal;
}

.vacantes h2 {
    width: 100%;
    font-family: "Zain", sans-serif;
    color: white;
    background-color: #464545;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

.vacantes img {
    width: 20%;
    height: 20%;
    padding: 20 px;
}

.fechaexamen img {
    width: 100%;
    height: 25%;
    object-fit: cover;
}

.misionvisionvalores .misionvisionvalores-tarjetas {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Zain", sans-serif;
    color: white;
    margin: 15px;
}

.misionvisionvalores-tarjetas .mision {
    width: 30%;
    height: 100%;
    background-color: #464545;
    flex-direction: column;
    display: grid;
    place-items: center;
    padding: 10px;
}

.misionvisionvalores .mision:hover {
    /*interacción de la tarjeta*/
    background-color: #1b1b1bbe;
}

.misionvisionvalores-tarjetas .vision {
    width: 30%;
    height: 100%;
    background-color: #f54703;
    flex-direction: column;
    align-items: center;
    display: grid;
    place-items: center;
    padding: 10px;
}

.misionvisionvalores .vision:hover {
    /*interacción de la tarjeta*/
    background-color: #f54803d7;
}

.misionvisionvalores-tarjetas .valores {
    width: 30%;
    height: 100%;
    background-color: #ff7518;
    flex-direction: column;
    align-items: baseline;

    padding: 10px;
}

.misionvisionvalores .valores:hover {
    /*interacción de la tarjeta*/
    background-color: #e45310;
}

.niveles {
    text-align: center;
    text-decoration: none;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.niveles h2 {
    width: 100%;
    font-family: "Zain", sans-serif;
    color: white;
    background-color: #464545;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

.niveles .niveles-tarjetas div {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.MED {
    /*acceso a whatsapp que se desplaza a lo laargo de la página*/
    position: fixed;
    /*para fijar*/
    bottom: 50px;
    right: 20px;
}

.MED img {
    width: 100%;
    height: 100%;
}

/*----------------------------------------Página Colegio -----------------------------*/
.colegio {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.texto-colegio p {
    font-family: "Zain", sans-serif;
    font-size: 20px;
    padding: 50px;
    margin: 20px;
    text-align: justify;
}

.colegio .img-fachada img {
    /*estilos para la imagen de bienvenidos*/
    width: 400px;
    height: auto;
    padding: 5px;
    margin: 25px;
}

.autoridades {
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    padding: 10 px;
    margin: 20 px;
}

.autoridades h2 {
    width: 96%;
    font-family: "Zain", sans-serif;
    color: white;
    background-color: #464545;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    margin: 25px;
}

.autoridades li {
    width: 93%;
    font-family: "Zain", sans-serif;
    color: black;
    text-align: justify;
    font-size: 20px;
    padding: 5px;
    margin: 25px;
}

.autoridades div img {
    width: 400px;
    height: 400px;
    padding: 5px;
    margin: 25px;
}


/*----------------------------------------Página Niveles -----------------------------*/

.nivelinicial {
    padding:85px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nivelinicial .img-nivelinicial img {
    width: 300px;
    height: 300px;
    display: flex;

}

.nivelinicial .texto-nivelinicial p {
    width: 95%;
    font-family: "Zain", sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: justify;
    background-color: rgba(0, 0, 255, 0.363);
    margin:auto;
    pading: auto;
}

.nivelinicial .texto-nivelinicial a {
    font-family: "Zain", sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: justify;
}

.grid-galeria-inicial {
    margin: 15px;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.img-7 {
    grid-column: span 2;
}

.img-6 {
    grid-row: span 2;
}

.grid-galeria-inicial div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*para que la imagen no se vea estirada*/
}


.nivelprimario {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nivelprimario .img-nivelprimario img {
    width: 300px;
    height: 300px;

}

.nivelprimario .texto-nivelprimario p {
    width: 95%;
    font-family: "Zain", sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: justify;
    background-color: rgba(2, 112, 2, 0.466);
}

.nivelprimario .texto-nivelprimario a {
    font-family: "Zain", sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: justify;
}

.grid-galeria-primaria {
    margin: 15px;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.img-4 {
    grid-column: span 2;
    grid-row: span 2;
    /*expande para que una imagen ocupe dos lugares a lo ancho*/
}

.img-5 {
    grid-row: span 3;
    /*expande para que una imagen ocupe tres lugares a lo ancho*/
}

.grid-galeria-primaria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*para que la imagen no se vea estirada*/
}

.nivelsecundario {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nivelsecundario .img-nivelsecundario img {
    width: 300px;
    height: 300px;

}

.niveles .texto-nivelsecundario div{
    background-color: rgba(255, 166, 0, 0.582);
}

.nivelsecundario .texto-nivelsecundario p {
    width: 95%;
    font-family: "Zain", sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: justify;
    background-color: rgba(255, 166, 0, 0.582);
}

.nivelsecundario .texto-nivelsecundario a {
    font-family: "Zain", sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: justify;
}

.grid-galeria-secundaria {
    margin: 15px;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.img-1 {
    grid-row: span 2;
    /*expande para que una imagen ocupe dos lugares a lo ancho*/
}

.img-3 {
    grid-row: span 2;
    /*expande para que una imagen ocupe dos lugares a lo ancho*/
}

.grid-galeria-secundaria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*para que la imagen no se vea estirada*/
}

/*-----------------------------------------página Pastoral -----------------------------------------*/

.pastoral h2 {
    font-family: "Zain", sans-serif;
    color: white;
    background-color: #464545;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    margin: 25px;
}

.pastoral-logo {
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    padding: 20 px;
    margin: 25px;
}

.pastoral-logo img {
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 25px;
}

.pastoral-logo p {
    width: 100%;
    font-family: "Zain", sans-serif;
    color: black;
    text-align: justify;
    font-size: 20px;
    padding: 5px;
    margin: 25px;
}

.grid-accionespastorales {
    margin: 25px;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-pastoral {
    background-color: #ff7518;
}

.grid-accionespastorales div img {
    width: 100%;
    /*la imagen ocupa el 100% del ancho*/
    height: 100%;
    /*la imagen ocupa el 100% del alto*/
    object-fit: cover;
    /*para que la imagen no se vea estirada*/
}

.grid-pastoral img {
    position: relative;
    /*posiciona la imagen por detras*/
}

.grid-pastoral h2 {
    font-family: "Zain", sans-serif;
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}

.grid-pastoral p {
    font-family: "Zain", sans-serif;
    color: black;
    text-align: justify;
    font-size: 20px;
    padding: 25px;
    margin: 5px;
}

/*-----------------------------------------página Contacto -----------------------------------------*/

.ubicacion {
    margin: 120px;
    display: flex;
    justify-content: space-around;
    align-items: self-end;
}

.direccion p {
    font-family: "Zain", sans-serif;
    font-size: 25px;
    padding: 5px;
    text-align: left;
}

.consulta h2 {
    font-family: "Zain", sans-serif;
    color: white;
    background-color: #464545;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    margin: 25px;
}

.consulta {
    margin: 5px;
    display: block;
    justify-content: left;
    align-items: center;
    font-family: "Zain", sans-serif;
    font-size: 20px;
}

.consulta form {
    font-family: "Zain", sans-serif;
    font-size: 20px;
    padding: 5px;
    margin: 25px;
}

/* ------- footer --------------------------------------------------------------------------------------------------------*/

footer img {
    width: 70px;
    height: 70px;
}

footer {
    text-align: center;
    background-color: #f54703;
    font: size 30px;
    color: white;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ---------------------------@media query Inicio---------------------------*/

@media screen and (max-width:1055px) {
    .misionvisionvalores .misionvisionvalores-tarjetas {
        height: auto;
        align-items: stretch;
        margin: 15px 0;
        flex-wrap: wrap;
        gap: 20px;
    }

    .misionvisionvalores-tarjetas .mision {
        min-width: 280px;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .misionvisionvalores-tarjetas .vision {
        min-width: 280px;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .misionvisionvalores-tarjetas .valores {
        min-width: 280px;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

}

@media screen and (max-width:915px) {
    .autogestion .autogestion-acceso {
        flex-wrap: wrap;
        gap: 20px;
    }

    .autogestion .autogestion-acceso div {
        width: 30%;
        min-width: 280px;
        height: auto;
        margin: 0;
        padding: 15px;
    }

    .autogestion .autogestion-acceso div h2 {
        padding: 10px;
    }

    .autogestion .autogestion-acceso p {
        padding: 10px 0;
    }

    .autogestion .autogestion-acceso div img {
        width: 100px;
        height: auto;
        margin-bottom: 15px;
    }

    .botones {
        height: auto;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width:594px) {
    body {
        padding-top: 9vh;
    }

    .vacantes {
        padding: 20px 0;
    }

    .vacantes div {
        flex-wrap: wrap;
        gap: 20px;
    }

    .vacantes img {
        width: 25%;
        max-width: 300px;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .fechaexamen img {
        height: auto;
    }

    .niveles .niveles-tarjetas img {
        width: 30%;
        margin: 0;
    }
}

/*********************media queries Colegio***************************/

@media screen and (max-width: 1286px){
    .colegio{
        flex-direction: column;
        margin: 20px;
        padding: 0;
        align-items: center;
    }
    .colegio .img-fachada{
        width: 90%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

.colegio .texto-colegio {
    width: 95%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.colegio .texto-colegio p {
    font-size: 20px;
    padding: 10px 0;
    text-align: justify;
}

.autoridades {
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    padding: 10px;
}

.imagen-autoridades {
    width: 100%;
    margin-bottom: 10px;
}

.imagen-autoridades h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.imagen-autoridades img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.objetivosinstitucionales {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
}

.objetivosinstitucionales h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.objetivosinstitucionales li {
    font-size: 17px;
    margin-bottom: 5px;
    padding: 0;
    list-style-position: inside;
    }
}

@media screen and (max-width:768px) {
    .colegio {
        margin: 5px;
        padding: 0;
    }

    .colegio .texto-colegio p {
        font-size: 20px;
        margin: 0 auto;
        padding: 0 px;
        text-align: justify;
    }

    .imagen-autoridades h2 {
        width: 100%;
        font-size: 20px;
    }

    .objetivosinstitucionales h2 {
        width: 100%;
        font-size: 20px;
    }

    .colegio .img-fachada {
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 0;
        align-items: center;
    }

    footer img {
        width: 40px;
        height: 40px;
    }

    footer {
        text-align: center;
        font: size 20px;
        font-weight: 300;
    }
}

@media screen and (max-width:465px) {
    .colegio {
        margin: 0px;
        padding: 0px;
    }

    .colegio .texto-colegio p {
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        text-align: justify;
    }

    .imagen-autoridades h2 {
        width: 100%;
        font-size: 20px;
    }

    .objetivosinstitucionales h2 {
        width: 100%;
        font-size: 20px;
    }

    .colegio .img-fachada {
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 0;
        align-items: center;
    }
}

/***********************queries Niveles ***********************/

@media screen and (max-width: 1316px) {
    .nivelinicial {
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }
    .niveleinicial{
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    }
    .nivelprimario {
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }
    .nivelprimario{
    padding: auto;
    margin: 15px;
    display: flex;
    flex-direction: column;
    }
    .nivelsecundario {
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }
    .nivelsecundario{
    padding: auto;
    margin: 15 px;
    display: flex;
    flex-direction: column;
    }
}

/****************queries contacto ****************************/

@media screen and (max-width:880px) {
    .ubicacion{
        flex-wrap: wrap;
        gap: 20px;
    }
    .ubicacion div {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 545px) {
    .ubicacion{
        flex-wrap: wrap;
        gap: 20px;
        width: 50%;
        margin: 15px;
        text-align: center;
    }
    .mapa {
        margin: auto;
        justify-content: center;
        margin: 15px;
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 540px) {
    .ubicacion{
        flex-wrap: wrap;
        gap: 20px;
    }
    .mapa {
        margin: auto;
        justify-content: center;
        width: 70%;
        height: auto;
    }
    .consulta h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    margin: 25px;
    }  
}