.colegio {
    margin: 50px;
    @include flex (flex, space-between, flex-start);

    .img-fachada img {
        width: 400px;
        height: auto;
        padding: 5px;
        margin: 25px;
    }
}

.texto-colegio p {
    font-family: "Zain", sans-serif;
    font-size: nth($font-size, 2);
    padding: 50px;
    margin: 20px;
    text-align: justify;
}

.autoridades {
    width: 100%;
    background-color: white;
    text-align: center;
    @include flex (flex, space-between, normal);
    padding: 10px;
    margin: 20px;

    h2 {
        width: 96%;
        font-family: "Zain", sans-serif;
        color: white;
        background-color: $color-five;
        text-align: center;
        font-size: nth($font-size, 5);
        padding: 5px;
        margin: 25px;
    }

    li {
        width: 93%;
        font-family: "Zain", sans-serif;
        color: black;
        text-align: justify;
        font-size: 20px;
        padding: 5px;
        margin: 25px;
    }

    div img {
        width: 400px;
        height: 400px;
        padding: 5px;
        margin: 25px;
    }
}