footer {
    text-align: center;
    background-color: $color-one;
    font-weight: 400;
    font-style: normal;
    font-family: "Zain", sans-serif;
    color: white;

    img {
        width: 70px;
        height: 70px;
    }
}