.hero {
    height: 100vh;
    text-align: center;
    background-image: url('../img/banner-peregrinos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    @include flex (flex, center, center);

    h1 {
        font-family: "Zain", sans-serif;
        font-size: nth($font-size, 7);
        font-style: normal;
        color: black;
    }
}

.autogestion {
    div {
        text-align: center;
        text-decoration: none;
        display: flex;
    }

    h2 {
        width: 100%;
        font-family: "Zain", sans-serif;
        color: white;
        background-color: $color-five;
        text-align: center;
        font-size: nth($font-size, 5);
        padding: 5px;
    }

    .autogestion-acceso {
        background-color: white;
        @include flex (flex, center, center);
        /*display: flex;
        justify-content: center;
        align-items: center;*/

        h2 {
            color: white;
            text-align: center;
            background-color: $color-five;
            text-decoration: none;
            margin: 25px;
            padding: 5px;
            border-radius: 15px;
            transition: 0.10ms;
        }

        div {
            width: 33%;
            height: 250px;
            margin: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 200px;
                height: 200px;
            }

            a {
                @extend %boton;
                transition: 0.10ms;
            }
        }
    }


    .autogestion-acceso div {
        a:hover {
            background-color: $color-one;
        }
    }
}

.vacantes {
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    align-items: normal;
    transition: 0.10ms;

    h2 {
        width: 100%;
        font-family: "Zain", sans-serif;
        color: white;
        background-color: $color-five;
        text-align: center;
        font-size: nth($font-size, 5);
        padding: 5px;
    }

    img {
        width: 20%;
        height: 20%;
        padding: 20px;
    }
}

.vacantes div:hover {
    transform: scale(1.1);
    transition: 0.10ms;
}

.fechaexamen {
    img {
        width: 100%;
        height: 25%;
        object-fit: cover;
    }
}

.misionvisionvalores {
    .misionvisionvalores-tarjetas {
        width: 100%;
        height: 250px;
        @include flex (flex, space-around, center);
        text-align: center;
        font-family: "Zain", sans-serif;
        color: white;
        margin: 15px;

        .mision,
        .vision,
        .valores {
            width: 30%;
            height: 100%;
            flex-direction: column;
            display: grid;
            place-items: center;
            padding: 10px;
        }

        .mision {
            background-color: $color-five;
            transition: 0.10ms;
        }

        .vision {
            background-color: $color-one;
            transition: 0.10ms;
        }

        .valores {
            background-color: $color-two;
            align-items: baseline;
            transition: 0.10ms;
        }
    }

    .mision {
        &:hover {
            background-color: #6d5d5d;
        }
    }

    .vision {
        &:hover {
            background-color: #f54803d7;
        }
    }

    .valores {
        &:hover {
            background-color: #e45310;
        }
    }
}

.niveles {
    text-align: center;
    text-decoration: none;
    @include flex (block, space-between, center);

    h2 {
        width: 100%;
        font-family: "Zain", sans-serif;
        color: white;
        background-color: $color-five;
        text-align: center;
        font-size: nth($font-size, 5);
        padding: 5px;
    }

    .niveles-tarjetas {
        div {
            width: 100%;
            background-color: white;
            @include flex (flex, space-evenly, center);
            margin: 5px;

            a {
                img {
                    width: 50%;
                    height: auto;
                    transition: 1ms;
                }
            }
        }
    }
    .niveles-tarjetas img:hover {
    transform: scale(0.8);
    }
}


.MED {
    /*acceso a MED que se desplaza a lo laargo de la página*/
    position: fixed;
    /*para fijar*/
    bottom: 50px;
    right: 2px;

    img {
        width: 70%;
        height: 50%;
        transition: 0.10ms;
    }
}

.MED img:hover {
    transform: scale(1.3);
}